<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pro MERN Stack</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!--    <script src="https://unpkg.com/@babel/standalone@7/babel.min.js"></script> client-side compilation -->
    <!-- function implementations to supplement the missing implementation in older browsers are called polyfills -->
    <script src="https://unpkg.com/@babel/polyfill@7/dist/polyfill.min.js"></script>
    <style type="text/css">
      .foo {
          color: #990022;
      }
      table.bordered-table th, td { border: 1px solid silver; paddind: 4px; }
      table.bordered-table { border-collapse: collpase; }
    </style>
  </head>
  <body>
    <div id="content"></div>
    <!--    <script type="text/babel" src="/index.jsx">-->
      <script src="/index.js">
/*      const element = React.createElement(
        'div', { title: 'Outer div' },
        React.createElement('h1', { className: 'foo' }, 'Hello, World!')
        );
      const element = (
          <div title="Outer div">
          <h1 className="foo">Hello, World!</h1>
          </div>
      );
      ReactDOM.render(element, document.getElementById('content'));*/
    </script>
  </body>
</html>
